@import 'variables';

.Footer {
  @include flexbox();
  @include align-content(center);
  @include justify-content(space-between);
  background: $footer-background-color;
  color: $footer-text-color;
  height: $footer-height;
  opacity: 0.9;
  padding: $footer-padding;

  &-icon {
    margin: 0 4px;
  }
}

