$background-error: #eeeeee;
$border-error: #eb5c5c;

$accordion-background-color: #2d2e3f;
$accordion-text-color: #ffffff;
$accordion-padding: 1.25em;
$accordion-margin-left-text: 2.5em;
$accordion-left-gradient-color: #5494f7;
$accordion-right-gradient-color: #65b2fb;
