@import './variables';
@import './errors';

.Accordion {
  background: $accordion-background-color;
  width: 100%;
}

.Accordion-title {
  color: $accordion-text-color;
  padding: $accordion-padding;

  &:last-of-type {
    padding-bottom: $accordion-padding;    
  }
}

.Accordion-description {
  color: $accordion-text-color;
}

.Accordion-title:not(.is-active) + .Accordion-description {
  opacity: 0;
  position: absolute;
}

.Accordion-title.is-active + .Accordion-description {
  animation-duration: 0.5s;
  animation-name: fadeInFromNone;
}

.Accordion-description .Accordion-text {
  line-height: 1.5em;
}

.Accordion-separator {
  border-width: 0.5px;

  &:last-child {
    height: 0;    
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
    position: absolute;
  }

  1% {
    opacity: 0;
    position: relative;
  }

  50% {
    opacity: 0.5;
    position: relative;
  }

  100% {
    opacity: 1;
    position: relative;
  }
}
