@import 'variables';

.Header {
  @include flexbox();
  @include align-content(center);
  background: $background-color;
  height: $header-height;
  opacity: 0.88;
  padding: $header-padding;

  > .Header-title {
    color: $text-color;
  }
}
